/* FONTE DO SITE  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* CONFIGURAÇÕES GERAIS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* VARIÁVEIS DO SISTEMA */
:root{
    --cor1: rgb(255, 183, 49);
    --cor2: rgb(216, 124, 4);
    --cor3: rgb(232, 134, 6);
    --cor4: rgb(255, 107, 0);
    --hf: #fff;
    --hfLetter: var(--cor2);
    --icon_path: "assets/img/patasfundo.png";
    --logo_path: "assets/img/logofundoremovido.png";
}
body {
    background: linear-gradient(to right, #f1e9d4, #fce7af);
    position: relative;
    min-height: 100vh;
    width: 100%;
} 
.input_error{
    display: block;
    visibility: hidden;
    padding-left: 0;
    margin-top: -.6vh;
    color: red;
}

/* SCROLL BAR CUSTOM */
body::-webkit-scrollbar-thumb {
    border-radius: 2vh;
    background: var(--cor2);
}
body::-webkit-scrollbar {
    width: 1.3vh;
    height: 1.3vh;
}

/* NAVBAR*/
header{
    width: 80%;
    height: 10vh;
    background: var(--hf);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vh;
    border-radius: 0 0 1em 1em;
    margin: 0 auto;
    border-color: #FFF;
    box-shadow: 0 0.5vh 1.5vh rgba(0, 0, 0, 0.1);
}

/* LOGO */
.logo{
    width: 25%;
    display: block;
    margin-left: -8vh;
}
nav .logo{
    display: none;
}

/* LISTA DE ITENS DA NAV */
nav ul {
    list-style: none;
}
nav ul li a, nav ul li .cad_button {
    color: var(--hfLetter);
    display: block;
    margin: 0 0.2vh;
    font-weight: 600;
    padding: 0.8vh 1.8vh;
    transition: 0.2s;
    border-radius: 3vh;
}
nav ul li a:hover, nav ul li .cad_button:hover {
    background: #f8f4e9;
    cursor: pointer;
}
nav ul li {
    position: relative;
    float: left;
}

/* NAVBAR RESPONSIVA */
.mn {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 0.3vh 0.8vh;
    border-radius: 0.5vh;
    transition: 0.2s;
}
.mn:hover {
    background: #f6f4ff;
}
.mn div {
    width: 3vh;
    height: 0.2vh;
    margin: 0.6vh 0;
    background: #838999;
}

/* RESPONSIVIDADE NAVBAR */
@media only screen and (max-width: 90vh) {
    header {
        width: 100%;
        padding: 0 2vh;
    }

    nav {
        position: absolute;
        left: -30vh;
        top: 0;
        z-index: 999;
        width: 28vh;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 0.2vh 0 2vh 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked~nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 7vh;
        display: flex;
        align-items: center;
        margin-left: 3vh;
    }

    nav ul li a {
        margin-bottom: 0.5vh;
        padding: 1vh 1.5vh;
        border-radius: 0.5vh;
    }

    nav ul {
        display: block;
        padding: 0 2vh;
        margin-top: 3vh;
    }
    .mn{
        display: block;
    }
}

/* FOOTER */
.footer {
    color: var(--hfLetter);
    width: 80%;
    padding: 1vh;
    height: 10vh;
    text-align: center;
    background-color: var(--hf);
    border-radius: 1vh 1vh 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* RESPONSIVIDADE DA LOGO */
@media (max-width: 30vh) {
    .logo {
        transform: scale(0.25); 
    }
}
@media (min-width: 30vh) and (max-width: 60vh) {
    .logo {
        transform: scale(0.4); 
    }
}
@media (min-width: 60vh) and (max-width: 90vh) {
    .logo {
        transform: scale(0.50); 
    }
}
@media (min-width: 90vh) {
    .logo {
        transform: scale(0.6); 
    }
}